*.o
*.a
**/.deps/
c/Makefile
c/Makefile.in
c/aclocal.m4
c/autom4te.cache/
c/autotools/compile
c/autotools/config.guess
c/autotools/config.sub
c/autotools/depcomp
c/autotools/install-sh
c/autotools/missing
c/autotools/test-driver
c/config.h
c/config.h.in
c/config.h.in~
c/config.log
c/config.status
c/configure
c/doc/Makefile
c/doc/Makefile.in
c/librcksum/Makefile
c/librcksum/Makefile.in
c/librcksum/md4test
c/libzsync/Makefile
c/libzsync/Makefile.in
c/libzsync/sha1test
c/stamp-h1
c/zlib/Makefile
c/zlib/Makefile.in
c/zsync
c/zsyncmake
